<section class="scheduleContainer d-flex flex-column" style="min-width: 100%;">
    <header>
            <div class style="height: 80px;"
                    class="bg-dark bg-gradient color-white justify-content-center d-flex align-items-center text-white">
                    <h1 class="h3">{{titleHeader}}</h1>
            </div>
    </header>
    <div class="test d-flex justify-content-center align-items-center"
            style="background-image: url('../../../../assets/img/doctor-gfaf165c6b_1920v2.webp'); height: 50vh; background-repeat: no-repeat; background-size: cover">
            <section class="text-white text-center">
                    <h2 class="display-3">{{titleApresentation}}</h2>
                    <p class="mt-4"><i>{{descriptionApresentation}}</i></p>
            </section>
    </div>
</section>