<section class="intro full-banner-form">
  <div>
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <h1 class="mb-5 text-center">Deletar Especialidade</h1>
          <div class="col-12 col-lg-10 ">
            <div class="card  form">
              <div class="card-body">
                <form action="" method="post" #frm="ngForm">
                  <!-- 2 column grid layout with text inputs for the first and last names -->
                  <div class="row">
                    <div class="row col-12 col-md-6 ">
                      <div class="form-outline d-flex">
                        <label class="form-label" for="nomeHospital">ID</label>
                        <input type="text" id="nomeHospital" name="nomeHospital" class="form-control"  required />
                      </div>
                    </div>

                  </div>
                  <!-- Submit button -->
                  <div class="container botoes">
                  <button type="submit" [disabled]="frm.invalid">Excluir Especialidade</button>
                  <button class="voltar"  routerLink="/inicio/acessoRestrito">Voltar</button>
                </div>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>



