<section class="intro full-banner-form">
  <div>
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <h1 class="mb-5 text-center">Agendar Consulta</h1>
          <div class="col-12 col-lg-10 ">
            <div class="card  form">
              <div class="card-body">
                <form action="" method="post" #frmCreate="ngForm" (ngSubmit)="toCreate(frmCreate)">
                  <!-- 2 column grid layout with text inputs for the first and last names -->
                  <div class="row">
                    <div class="col-12 col-md-6 ">
                      <div class="form-outline">
                        <label class="form-label" for="nomeHospital">ID Hospital</label>
                        <input type="number" id="nome" name="nome" class="form-control" [(ngModel)]="schedule.idHospital" required />
                      </div>
                    </div>
                    <div class="col-12 col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="cnpjHospital">ID Especialidade</label>
                        <input type="number" id="cnpjHospital" name="cnpjHospital" class="form-control" [(ngModel)]="schedule.idEspecialty" required/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="telefone">ID Profissional</label>
                        <input type="number" id="telefone" class="form-control" name="telefone" [(ngModel)]="schedule.idProfessional" required />
                      </div>
                    </div>
                  
                    <div class="col-12 col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="telefone">ID Paciente</label>
                        <input type="number" id="telefone" class="form-control" name="telefone" [(ngModel)]="schedule.idProfessional" required />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="telefone">Horário da Consulta</label>
                        <input type="datetime-local" id="telefone" class="form-control" name="telefone" [(ngModel)]="schedule.dateHourSchedule" required />
                      </div>
                    </div>
                  </div>

                  <div class="form-check d-flex  mb-4">
                    <input
                      class="form-check-input me-2"
                      type="checkbox"
                      value="true"
                      id="ativo"
                      checked
                      [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="schedule.ativo"
                    />
                    <label class="form-check-label" for="ativo"> Ativo </label>
                  </div>
                  <!-- Submit button -->
                  <div class="container botoes">
                  <button type="submit" class="">Cadastrar</button>
                  <button class="voltar"  routerLink="/inicio/acessoRestrito">Voltar</button>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

