<div class="first">
  <div class="form">
    <h1>Configurações</h1>
    <div class="container botoes">
      <button type="button" class="btn btn-primary btn-lg">
        <a routerLink="/inicio/agendar" class="link"> Cadastrar Hospital</a>
      </button>
      <button type="button" class="btn btn-primary btn-lg">
        <a routerLink="/inicio/consultarAgendamento" class="link"
          >Cadastrar Especialidade</a
        >
      </button>
      <button type="button" class="btn btn-primary btn-lg">
        <a
          routerLink="/inicio/acessoRestrito/cadastrarBeneficiario"
          class="link"
          >Cadastrar Beneficiário</a
        >
      </button>
    </div>
  </div>
</div>
