@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&family=Ultra&display=swap');

.first{
  display: flex;
  background-color: rgb(38, 28, 16);
  background-image: url(../img/fundo2.webp);
  font-family:'Raleway', sans-serif;
  height: 100vh;
  width: auto;
  background-size: cover;
}

.form{
  justify-content: space-around;
  align-content: space-around;
  background: rgba(43, 21, 11, 0.651) ;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  border-radius: 3%;
  padding: 5px;
}

h1{
  padding-top: 40px;
  padding-bottom: 35px;
  text-align: center;
  font-size: 55px;
  font-weight: 800;
  color: rgb(252, 248, 248);
  font-family: 'Ultra', serif;
}
.ac{
  width: 90%;
  margin-left: 5%;
}
button{
  border-radius: 25px;
  border: none;
  background-color: rgba(127, 216, 231, 0.651);
  margin-bottom: 1em;
  padding: 0 10px 0 10px;
}
button:hover{
  background:linear-gradient(150deg,#f3942e 0%, #ff5100 100%);
  box-shadow: 0px 0px 0px 2px rgb(63, 62, 62);
}

.material-icons{
  font-size: 50px;
  color: black;
}


.botoes{
  display: flex;
  justify-content:space-around;
  height: 7em;
  padding: 1px;
}

.link{
  font-family:'Raleway', sans-serif;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  justify-content: center;
  width: 7em;
  display: flex;
  text-decoration: none;
  color: rgb(8, 8, 8);
}
.voltar{
  background: linear-gradient(150deg,#f3942e 0%, #ff5100 100%);
  width: 45%;
  line-height: 40px;
  border-radius: 15px;
  border: none;
  text-transform: uppercase;
  margin-top: 15px;
  margin-left: 25%;
}
.voltar:hover{
  background: linear-gradient(150deg,#ff5100 0%, #f3942e 100%);
  color: #dddcda;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.5);
}
