<div class="first">

  <h1>Bem vindo à central de agendamento</h1>
<div class="container botoes">
    <button type="button" class="btn btn-primary btn-lg" routerLink="/inicio/agendar">
      <span class="material-icons">
        calendar_month
      </span>
      <a routerLink="/inicio/agendar" class="link"> Agendamento</a>
    </button>
    <button type="button" class="btn btn-primary btn-lg" routerLink="/inicio/consultarAgendamento">
      <span class="material-icons">
        article
      </span>
      <a routerLink="/inicio/consultarAgendamento" class="link">Consultar Agendamento</a>
    </button>
    <button type="button" class="btn btn-primary btn-lg" routerLink="/inicio/acessoRestrito">
      <span class="material-icons">
        report
      </span>
      <a routerLink="/inicio/acessoRestrito" class="link">Acesso Restrito</a>
    </button>
  </div>
</div>


