<div class="full-banner-form">
  <form
    action=""
    method="post"
    #frmCreate="ngForm"
    (ngSubmit)="toCreate(frmCreate)"
  >
    <h1>Cadastrar Beneficiário</h1>
    <div class="container">
      <div class="mb-3 row">
        <label class="col-sm-4 col-form-label">Nome do Beneficiário</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="setting.name"
            name="name"
          />
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-4 col-form-label">CPF</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            id="cpf"
            [(ngModel)]="setting.cpf"
            name="cpf"
          />
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-4 col-form-label">Telefone</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            id="phone"
            [(ngModel)]="setting.phone"
            name="phone"
          />
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-4 col-form-label">Endereço</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            id="address"
            [(ngModel)]="setting.address"
            name="address"
          />
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-4 col-form-label">Número da Carteirinha</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            id="numberCard"
            [(ngModel)]="setting.numberCard"
            name="numberCard"
          />
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-4 col-form-label">Email</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            id="email"
            [(ngModel)]="setting.email"
            name="email"
          />
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-4 col-form-label">Senha</label>
        <div class="col-sm-6">
          <input
            type="password"
            class="form-control"
            id="password"
            [(ngModel)]="setting.password"
            name="password"
          />
        </div>
      </div>
      <div class="row-2 col-sm-2">
        <div class="form-check d-flex mb-4">
          <input
            class="form-check-input me-2"
            type="checkbox"
            value="true"
            id="ativo"
            checked
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="setting.ativo"/>
          <label class="form-check-label" for="ativo"> Ativo </label>
        </div>
      </div>
      <button [disabled]="frmCreate.invalid">Salvar</button>
    </div>
  </form>
</div>
