<div
  class="d-flex flex-column bg-blue justify-content-center text-center text-white"
  style="min-height: 25vh"
>
  <div class="text-center">
    <h2 class="display-6 text-white mt-3">Criar Configuração</h2>
  </div>
  <form
    action=""
    method="post"
    #frmCreate="ngForm"
    (ngSubmit)="toCreate(frmCreate)"
  >
    <div class="input-group mt-4 d-flex justify-content-center">
      <div class="input-group-prepend">
        <span
          class="input-group-text d-flex justify-content-center"
          id="basic-addon1"
          style="width: 10em"
          ><b>ID Hospital</b></span
        >
      </div>
      <input
        type="number"
        class="form-control rounded-end"
        id="idHospital"
        name="idHospital"
        style="max-width: 20%"
        placeholder="Insira o ID do Hospital"
        aria-describedby="basic-addon1"
        [(ngModel)]="setting.idHospital"
        required
      /><br />
    </div>
    <div class="input-group mt-3 d-flex justify-content-center">
      <div class="input-group-prepend">
        <span
          class="input-group-text d-flex justify-content-center"
          id="basic-addon1"
          style="width: 10em"
          ><b>ID Especialidade</b></span
        >
      </div>
      <input
        type="number"
        class="form-control rounded-end"
        id="idSpecialty"
        name="idSpecialty"
        style="max-width: 20%"
        placeholder="Insira o ID da Especialidade"
        aria-describedby="basic-addon1"
        [(ngModel)]="setting.idSpecialty"
        required
      /><br />
    </div>
    <div class="input-group mt-3 d-flex justify-content-center">
      <div class="input-group-prepend">
        <span
          class="input-group-text d-flex justify-content-center"
          id="basic-addon1"
          style="width: 10em"
          ><b>ID Profissional</b></span
        >
      </div>
      <input
        type="number"
        class="form-control rounded-end"
        id="idProfessional"
        name="idProfessional"
        style="max-width: 20%"
        placeholder="Insira o ID do Profissional"
        aria-describedby="basic-addon1"
        [(ngModel)]="setting.idProfessional"
        required
      /><br />
    </div>
    <div class="input-group mt-3 d-flex justify-content-center">
      <div class="input-group-prepend">
        <span
          class="input-group-text d-flex justify-content-center"
          id="basic-addon1"
          style="width: 10em"
          ><b>Ínicio do Plantão</b></span
        >
      </div>
      <input
        type="datetime-local"
        class="form-control rounded-end"
        id="startDateHour"
        name="startDateHour"
        style="max-width: 20%"
        placeholder="Insira o horário de ínicio do Plantão"
        [(ngModel)]="setting.startDateHour"
        aria-describedby="basic-addon1"
        required
      /><br />
    </div>
    <div class="input-group mt-3 mb-5 d-flex justify-content-center">
      <div class="input-group-prepend">
        <span
          class="input-group-text d-flex justify-content-center"
          id="basic-addon1"
          style="width: 10em"
          ><b>Final do Plantão</b></span
        >
      </div>
      <input
        type="datetime-local"
        class="form-control rounded-end"
        id="finalDateHour"
        name="finalDateHour"
        style="max-width: 20%"
        placeholder="Insira o horário final do plantão"
        aria-describedby="basic-addon1"
        [(ngModel)]="setting.finalDateHour"
        required
      /><br />
    </div>
    <button
      type="submit"
      class="btn btn-success mb-3 col-3"
      [disabled]="frmCreate.invalid"
    >
      Salvar</button
    ><br />
    <a routerLink="/ScheduleSettings" class="btn btn-secondary col-3 mb-5"
      >Voltar</a
    >
  </form>
</div>
